.bundle
.bundle/*
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
doc/api
doc/app
*.swp
*~
.idea
.idea/*
.DS_Store
.sass-cache/*
vendor/ruby
*node_modules*
*.DS_Store
www/js/bower_components
www/styles/imports.less
www/styles/dev.css
www/styles/app.css
/www/dist
/dist/*
/build/*
